<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.netflix_clone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.NetflixClone">
        <activity
            android:name=".MainScreens.VideoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreens.MovieDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreens.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreens.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreens.TvSeriesActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreens.MoviesActivities"
            android:exported="false" />
        <activity
            android:name=".Activities.PaymentOverdueActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreens.MainScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PaymentGatewayActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StepThreeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StepTwoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FinishUpAccountActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChooseYourPlanActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StepOneActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SwipeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:exported="true"
            tools:ignore="IntentFilterExportedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_UkMb9gEJbtOL5a" />
    </application>

</manifest>